*{
    margin: 0%;
}
        table, th , td{
            border: 1px solid black;
        }
        .header h1, h2{
            text-align: center;
            padding-top: 50px;
            color: rgb(0, 0, 0);
            font-family: 'Playfair Display', serif;
        }

        .header{
            width: 100%;
            height: 200px;
            background-color: rgb(255, 246, 240);
            background-size: 100%;
            
        }
        .nav-bar{
            width: 100%;
            height: 55px;
            background-color: rgb(165, 42, 42);
            transition: 0.9s ease;
        }
        .nav-bar:hover{
            background-color: unset;
            background-image: url(https://i.pinimg.com/736x/ba/ac/26/baac26f10a54ac5fe6ec22dd556b4764.jpg);
            
        }
        .nav-bar {
        display: flex;          /* bikin horizontal */
        gap: 0px;              /* jarak antar button */
        }

        .nav-bar button {
        width: 25%;
        height: 100%;
        background-color: rgb(165, 42, 42);
        color: white;
        border: none;
        }

        .nav-bar button:hover{
        background-color: unset;
        background-image: url(https://i.pinimg.com/736x/ba/ac/26/baac26f10a54ac5fe6ec22dd556b4764.jpg);
        }
        .image{
            background-color: #deb331;
        }

