*{
    margin: 0%;
}
        table, th , td{
            border: 1px solid black;
        }
        .header h1, h2{
            text-align: center;
            padding-top: 50px;
            color: rgb(0, 0, 0);
            font-family: 'Playfair Display', serif;
        }

        .header{
            width: 100%;
            height: 200px;
            background-color: rgb(255, 246, 240);
            background-size: 100%;
            
        }
        .nav-bar{
            width: 100%;
            height: 55px;
            background-color: rgb(165, 42, 42);
            transition: 0.9s ease;
        }
        .nav-bar:hover{
            background-color: unset;
            background-image: url(https://i.pinimg.com/736x/ba/ac/26/baac26f10a54ac5fe6ec22dd556b4764.jpg);
        }
        .burger {
            width: 30px;
            cursor: pointer;
            padding-top: 10px;
            padding-left: 20px;
        }

        .burger span {
        display: block;
        height: 3px;
        background: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.3s;
        }

        .burger span:hover{
            background-color: rgba(255, 255, 255, 0.514);
        }

