*{
    margin: 0%;
}
        .header h1, h2{
            text-align: center;
            padding-top: 50px;
            font-family: 'Playfair Display', serif;
        }

        .header{
            width: 100%;
            height: 200px;
            background-color: rgb(255, 246, 240);
            background-size: 100%;
            
        }
        .nav-bar{
            width: 100%;
            height: 55px;
            background-color: rgb(165, 42, 42);
            transition: 0.9s ease;
        }
        .nav-bar:hover{
            background-color: unset;
            background-image: url(https://i.pinimg.com/736x/ba/ac/26/baac26f10a54ac5fe6ec22dd556b4764.jpg);
            
        }
        .nav-bar {
        display: flex;          
        gap: 0px;              
        }

        .nav-bar button {
        width: 25%;
        height: 100%;
        background-color: rgb(165, 42, 42);
        color: white;
        border: none;
        }

        .nav-bar button:hover{
        background-color: unset;
        background-image: url(https://i.pinimg.com/736x/ba/ac/26/baac26f10a54ac5fe6ec22dd556b4764.jpg);
        }
        .image>*{
            background-color: #deb331;
            transition: opacity 4s ease;
        }
        .image:hover>*{
            opacity: 0;
        }
        .image{
            background-color: #deb331;
        }

        .table table{
            width: 100%;
            height: auto;
        }
        .welcome-text{
            background-color: rgb(158, 42, 42);
            width: 50%;
            padding: 10% 10% 10% 10%;
            text-align: justify;
            color: white;
        }
        .middle-section{
            width: 100%;
            background:url(https://i.pinimg.com/1200x/a3/6b/6a/a36b6a8f7dcfdbc37dc8f202db9ba948.jpg) ;
            display: flex;
            flex-direction: row;
            background-size: 50%;
            background-position: right;
        }
        .body h3{
            padding-top: 4%;
            padding-bottom: 1%;
            background-color: unset;
        }
        .medsos{
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: row;
            height: 20%;
        }
        .medsos table{
            width: 100%;
            height: auto;
        }

        .medsos table{
            text-align: center;
        }
        .nav-bar a{
            color: white;
            text-decoration: none;
        }
    

        

